#PortfolioContainer {
    margin-top: 100px;
}

#PortfolioContainer #FunctionPortfolio {
    background-color: #ffcc5f;
}

#DisplayPortfolio #titleBox {
    background-color: #115353;
    color: #ffffff;
    font-size: 18px;
    padding: 8px 8px;
    top: 50%;
}
#titleBox span {
    position: relative;
    top: 15%;
}

#btnAddPortfolio {
    padding: 5px 5px;
    right: 0px;
}

#dataBox {
    padding: 0;
}
#DisplayPortfolio th,
#DisplayPortfolio td {
    padding: 5px 5px;
    text-align: center;
}
